# '''- **Task 1. Working with data**
    
    To complete this task, use the data set in the attached file. Indicate the answer to each of the
    following steps and time to complete the entire task.
    
    1.1. Download the data set movie_metadata.csv, which contains data about films from IMDb
    (Internet Movie Database).
    
    1.2. The duration column contains data on the film length. How many missing values are there
    in this column?
    1.3. Replace the missing values in the duration column with the median value for this column.
    1.4. What is the average film length? Give the answer as a floating-point figure rounded to
    two decimal places.
    1.5. Create a movie_duration_category column, which will contain three categories
    depending on the film length:
    • Category "1. <90" if the film is less than 90 minutes long
    • Category "2. 90–120" if the film is between 90 minutes and two hours long (inclusively)
    • Category "3. >120" if the film is more than two hours long
    1.6. Build a summary table for films released after 2000 (inclusively), to list the numbers of
    films:
    • Table rows: year
    • Table columns: movie duration category ("<90", "90–120", ">120")
    • The year of release should be displayed in the YYYY format.
    1.7. How many films between 90 minutes and two hours long were released in 2008?
    1.8. The plot_keywords column holds keywords characterizing the film's plot. Using the data
    in this column, create a column called movie_plot_category, to contain four categories
    depending on the key words in the column:
    • Category "love_and_death" if the keywords include both "love" and "death"
    • Category "love" if the keywords include the word "love"
    • Category "death" if the keywords include the word "death"
    • Category "other" if the keywords do not meet the conditions above
    1.9. The imdb_score column shows a viewer rating for the film. Build a table to reflect the
    average rating of films depending on which movie_plot_category category they belong to.
    1.10. What is the average rating of films in the "love" category? Give the answer as a floatingpoint
    figure rounded to two decimal places.
    1.11. The budget column contains the film's budget. What is the median budget for all the films
    listed? Give the answer as an integer.
'''

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.7

In [ ]:
import sys
print(sys.executable)
print(sys.version)
print(sys.version_info)

C:\Users\User\anaconda3\python.exe
3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=9, micro=7, releaselevel='final', serial=0)

In [ ]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
# !pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
!pip install -q -U watermark

In [ ]:
# Import para manipulação
import numpy as np
import pandas as pd

#for task six
import datetime as datetime

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Praktikum Project" --iversions

Author: Praktikum Project

pandas: 1.4.2
numpy : 1.22.3
sys   : 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

In [ ]:
# 1. Download the data set movie_metadata.csv, which contains data about films from IMDb (Internet Movie Database).
# Carrega o dataset dos filmes
movie_data = pd.read_csv("movie_metadata.csv")

In [ ]:
################################################################################################################################

In [ ]:
# 2. The duration column contains data on the film length. How many missing values are there in this column?

In [ ]:
# Conferir magnetude dos dados
movie_data.shape

(5043, 28)

In [ ]:
movie_data.head(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0

In [ ]:
movie_data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [ ]:
movie_data.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0

In [ ]:
movie_data['duration']

0       178.0
1       169.0
2       148.0
3       164.0
4         NaN
        ...
5038     87.0
5039     43.0
5040     76.0
5041    100.0
5042     90.0
Name: duration, Length: 5043, dtype: float64

In [ ]:
movie_data['duration'].isnull().sum(axis = 0)

15

In [ ]:
movie_data_nan = movie_data[movie_data['duration'].isnull()]
movie_data_nan

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0
199,Color,Matt Birch,1.0,NaN,0.0,159.0,Dave Legeno,10000.0,NaN,Action|Fantasy,...,2.0,English,UK,NaN,0.0$,2011.0,570.0,7.5,NaN,40
206,Color,Matt Birch,4.0,NaN,0.0,1000.0,Toby Jones,10000.0,NaN,Fantasy,...,2.0,English,UK,NaN,0.0$,2010.0,2000.0,6.4,NaN,25
1510,Color,Tony Kaye,NaN,NaN,194.0,816.0,Aisha Tyler,970.0,NaN,Crime|Drama,...,NaN,English,USA,NaN,23000000.0$,2009.0,856.0,7.2,NaN,26
3604,Color,NaN,10.0,NaN,NaN,502.0,Tuppence Middleton,1000.0,NaN,Drama|History|Romance|War,...,44.0,English,UK,TV-14,0.0$,NaN,888.0,8.2,16.00,11000
3815,Color,Marc Bennett,2.0,NaN,3.0,723.0,Natasha Henstridge,975.0,NaN,Comedy|Drama,...,2.0,English,USA,NaN,5000000.0$,2012.0,900.0,6.7,NaN,35
3834,Color,Shekar,1.0,NaN,0.0,0.0,Diganth,5.0,NaN,Comedy|Romance,...,1.0,Kannada,India,NaN,0.0$,2013.0,0.0,7.1,NaN,2
4299,Color,Kundan Shah,1.0,NaN,4.0,72.0,Bobby Deol,353.0,NaN,Action|Comedy|Romance|Thriller,...,1.0,Hindi,India,NaN,0.0$,2000.0,89.0,2.8,NaN,10
4392,Color,David M. Matthews,5.0,NaN,8.0,394.0,Lamman Rucker,713.0,2592808.0,Crime|Drama|Thriller,...,15.0,English,USA,R,0.0$,2010.0,607.0,3.5,2.35,588
4397,Color,Romesh Sharma,4.0,NaN,0.0,45.0,Revathy,421.0,129319.0,Romance,...,4.0,English,India,NaN,70000000.0$,2005.0,96.0,5.1,NaN,9
4517,Color,NaN,2.0,NaN,NaN,206.0,John Jarratt,511.0,NaN,Drama|Horror|Thriller,...,6.0,English,Australia,NaN,0.0$,NaN,457.0,7.1,2.00,954
4609,Color,Wajahat Rauf,6.0,NaN,3.0,4.0,Ayesha Omar,7.0,NaN,Comedy|Family,...,15.0,Urdu,Pakistan,NaN,1000000.0$,2015.0,5.0,7.0,NaN,259
4690,Color,Joseph Kosinski,4.0,NaN,364.0,567.0,Lauren Cohan,22000.0,NaN,Action|Adventure|Fantasy|Sci-Fi,...,11.0,English,USA,NaN,0.0$,2014.0,4000.0,8.1,NaN,1000
4948,Color,Valentine,NaN,NaN,0.0,NaN,Valentine,17.0,NaN,Romance,...,NaN,English,USA,PG-13,125000.0$,2015.0,0.0,5.1,NaN,0
4989,Color,Daniel Mellitz,NaN,NaN,0.0,15.0,Chelse Swain,1000.0,NaN,Comedy|Drama,...,3.0,English,USA,NaN,0.0$,2006.0,36.0,4.7,NaN,2

In [ ]:
movie_data_nan[['duration', 'movie_title']]

      duration                                        movie_title
4          NaN  Star Wars: Episode VII - The Force Awakens    ...
199        NaN     Harry Potter and the Deathly Hallows: Part II
206        NaN      Harry Potter and the Deathly Hallows: Part I
1510       NaN                               Black Water Transit
3604       NaN                           War & Peace
3815       NaN                              Should've Been Romeo
3834       NaN                                             Barfi
4299       NaN                            Hum To Mohabbat Karega
4392       NaN                                          N-Secure
4397       NaN                               Dil Jo Bhi Kahey...
4517       NaN                            Wolf Creek
4609       NaN                                 Karachi se Lahore
4690       NaN                                           Destiny
4948       NaN                                  Romantic Schemer
4989       NaN                                     The Naked Ape

In [ ]:
################################################################################################################################

In [ ]:
# 3. Replace the missing values in the duration column with the median value for this column.

In [ ]:
movie_data_nan[['duration', 'movie_title']].index

Int64Index([   4,  199,  206, 1510, 3604, 3815, 3834, 4299, 4392, 4397, 4517,
            4609, 4690, 4948, 4989],
           dtype='int64')

In [ ]:
movies = movie_data_nan[['duration', 'movie_title']].index

In [ ]:
movies

Int64Index([   4,  199,  206, 1510, 3604, 3815, 3834, 4299, 4392, 4397, 4517,
            4609, 4690, 4948, 4989],
           dtype='int64')

In [ ]:
m = movie_data['duration'].median()
m

103.0

In [ ]:
movie_data['duration'].fillna(m , inplace = True)

In [ ]:
movie_data['duration'].isnull().sum(axis = 0)

0

In [ ]:
# Check
movie_data.loc[movies,['duration', 'movie_title']]

      duration                                        movie_title
4        103.0  Star Wars: Episode VII - The Force Awakens    ...
199      103.0     Harry Potter and the Deathly Hallows: Part II
206      103.0      Harry Potter and the Deathly Hallows: Part I
1510     103.0                               Black Water Transit
3604     103.0                           War & Peace
3815     103.0                              Should've Been Romeo
3834     103.0                                             Barfi
4299     103.0                            Hum To Mohabbat Karega
4392     103.0                                          N-Secure
4397     103.0                               Dil Jo Bhi Kahey...
4517     103.0                            Wolf Creek
4609     103.0                                 Karachi se Lahore
4690     103.0                                           Destiny
4948     103.0                                  Romantic Schemer
4989     103.0                                     The Naked Ape

In [ ]:
################################################################################################################################

In [ ]:
# 4. What is the average film length? Give the answer as a floating-point figure rounded to two decimal places.

In [ ]:
round(movie_data['duration'].mean(),2)

107.19

In [ ]:
################################################################################################################################

In [ ]:
# 5. Create a movie_duration_category column, which will contain three categories
# depending on the film length:
# Category "1. <90" if the film is less than 90 minutes long
# Category "2. 90–120" if the film is between 90 minutes and two hours long (inclusively)
# Category "3. >120" if the film is more than two hours long

In [ ]:
movie_data['duration']

0       178.0
1       169.0
2       148.0
3       164.0
4       103.0
        ...
5038     87.0
5039     43.0
5040     76.0
5041    100.0
5042     90.0
Name: duration, Length: 5043, dtype: float64

In [ ]:
duration_max = movie_data['duration'].max(axis=0)
duration_max

511.0

In [ ]:
category = [0, 90, 120, 520]

In [ ]:
labels = ['1', '2', '3']

In [ ]:
movie_data['movie_data_duration'] = pd.cut(movie_data['duration'],
                                           category,
                                           labels = labels,
                                           right  = False)

In [ ]:
movie_data.head(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,movie_data_duration
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000,3
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0,3
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000,3
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000,3
4,NaN,Doug Walker,NaN,103.0,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0,2

In [ ]:
################################################################################################################################

In [ ]:
#  6. Build a summary table for films released after 2000 (inclusively), to list the numbers of films:
# • Table rows: year
# • Table columns: movie duration category ("<90", "90–120", ">120")
# • The year of release should be displayed in the YYYY format.

In [ ]:
movie_data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes',
       'movie_data_duration'],
      dtype='object')

In [ ]:
# Legend : <90 ->1 
#           90 – 120 -> 2
#          >120 -> 3
task_6  = movie_data[['title_year', 'movie_data_duration']]
task_6

      title_year movie_data_duration
0         2009.0                   3
1         2007.0                   3
2         2015.0                   3
3         2012.0                   3
4            NaN                   2
...          ...                 ...
5038      2013.0                   1
5039         NaN                   1
5040      2013.0                   1
5041      2012.0                   2
5042      2004.0                   2

[5043 rows x 2 columns]

In [ ]:
task_6['title_year'].isnull().sum(axis = 0)

108

In [ ]:
task_6.dropna(axis = 0, how ='any', inplace=True)

In [ ]:
task_6

      title_year movie_data_duration
0         2009.0                   3
1         2007.0                   3
2         2015.0                   3
3         2012.0                   3
5         2012.0                   3
...          ...                 ...
5037      2011.0                   2
5038      2013.0                   1
5040      2013.0                   1
5041      2012.0                   2
5042      2004.0                   2

[4935 rows x 2 columns]

In [ ]:
task_6['title_year'].isnull().sum(axis = 0)

0

In [ ]:
task_6 = task_6.sort_values(by='title_year', ascending = False)

In [ ]:
task_6

      title_year movie_data_duration
2366      2016.0                   2
3817      2016.0                   1
1367      2016.0                   2
1742      2016.0                   2
519       2016.0                   1
...          ...                 ...
4664      1929.0                   2
2734      1927.0                   3
4885      1925.0                   3
4958      1920.0                   2
4810      1916.0                   3

[4935 rows x 2 columns]

In [ ]:
task_6['title_year'].dtype

dtype('float64')

In [ ]:
title_year_a = task_6['title_year'].astype(np.int64)

In [ ]:
title_year_a

2366    2016
3817    2016
1367    2016
1742    2016
519     2016
        ...
4664    1929
2734    1927
4885    1925
4958    1920
4810    1916
Name: title_year, Length: 4935, dtype: int64

In [ ]:
dados_full = pd.concat([title_year_a, task_6['movie_data_duration']], axis=1)

In [ ]:
dados_full

      title_year movie_data_duration
2366        2016                   2
3817        2016                   1
1367        2016                   2
1742        2016                   2
519         2016                   1
...          ...                 ...
4664        1929                   2
2734        1927                   3
4885        1925                   3
4958        1920                   2
4810        1916                   3

[4935 rows x 2 columns]

In [ ]:
dados_full.dtypes

title_year                int64
movie_data_duration    category
dtype: object

In [ ]:
dados_full.set_index("title_year")

           movie_data_duration
title_year
2016                         2
2016                         1
2016                         2
2016                         2
2016                         1
...                        ...
1929                         2
1927                         3
1925                         3
1920                         2
1916                         3

[4935 rows x 1 columns]

In [ ]:
################################################################################################################################

In [ ]:
# 7. How many films between 90 minutes and two hours (120 minutes) - category 2- long were released in 2008?

In [ ]:
dados_full.title_year.value_counts()

2009    260
2014    252
2006    239
2013    237
2010    230
       ...
1958      1
1927      1
1925      1
1920      1
1916      1
Name: title_year, Length: 91, dtype: int64

In [ ]:
dados_full_7 = dados_full.loc[dados_full['title_year']==2008]
dados_full_7

      title_year movie_data_duration
2712        2008                   2
4616        2008                   2
2610        2008                   2
2685        2008                   1
4617        2008                   2
...          ...                 ...
1244        2008                   2
1128        2008                   3
3028        2008                   2
3773        2008                   2
3474        2008                   2

[225 rows x 2 columns]

In [ ]:
dados_full_7['movie_data_duration'].dtype

CategoricalDtype(categories=['1', '2', '3'], ordered=True)

In [ ]:
exercise_7 = dados_full_7.loc[dados_full_7['movie_data_duration']=='2']
exercise_7

      title_year movie_data_duration
2712        2008                   2
4616        2008                   2
2610        2008                   2
4617        2008                   2
711         2008                   2
...          ...                 ...
1116        2008                   2
1244        2008                   2
3028        2008                   2
3773        2008                   2
3474        2008                   2

[157 rows x 2 columns]

In [ ]:
exercise_7.title_year.value_counts()

2008    157
Name: title_year, dtype: int64

In [ ]:
################################################################################################################################

In [ ]:
# 8. The plot_keywords column holds keywords characterizing the film's plot. Using the data
# in this column, create a column called movie_plot_category, to contain four categories
# depending on the key words in the column:
# Category "love_and_death" if the keywords include both "love" and "death"
# Category "love" if the keywords include the word "love"
# Category "death" if the keywords include the word "death"
# Category "other" if the keywords do not meet the conditions above

In [ ]:
movie_data8 = movie_data[['plot_keywords', 'movie_title']]

In [ ]:
movie_data8

,plot_keywords,movie_title
0,avatar|future|marine|native|paraplegic,Avatar
1,goddess|marriage ceremony|marriage proposal|pi...,Pirates of the Caribbean: At World's End
2,bomb|espionage|sequel|spy|terrorist,Spectre
3,deception|imprisonment|lawlessness|police offi...,The Dark Knight Rises
4,NaN,Star Wars: Episode VII - The Force Awakens ...
...,...,...
5038,fraud|postal worker|prison|theft|trial,Signed Sealed Delivered
5039,cult|fbi|hideout|prison escape|serial killer,The Following
5040,NaN,A Plague So Pleasant
5041,NaN,Shanghai Calling
5042,actress name in title|crush|date|four word tit...,My Date with Drew

In [ ]:
movie_data8.dropna(axis=0, inplace = True)

In [ ]:
movie_data8.isnull().sum(axis = 0)

plot_keywords    0
movie_title      0
dtype: int64

In [ ]:
movie_data8.shape

(4890, 2)

In [ ]:
movie_data8

,plot_keywords,movie_title
0,avatar|future|marine|native|paraplegic,Avatar
1,goddess|marriage ceremony|marriage proposal|pi...,Pirates of the Caribbean: At World's End
2,bomb|espionage|sequel|spy|terrorist,Spectre
3,deception|imprisonment|lawlessness|police offi...,The Dark Knight Rises
5,alien|american civil war|male nipple|mars|prin...,John Carter
...,...,...
5036,jewell|mongol|nostradamus|stepnicka|vallone,The Mongol King
5037,written and directed by cast member,Newlyweds
5038,fraud|postal worker|prison|theft|trial,Signed Sealed Delivered
5039,cult|fbi|hideout|prison escape|serial killer,The Following
5042,actress name in title|crush|date|four word tit...,My Date with Drew

In [ ]:
movie_data8_no_love = movie_data8[~movie_data8['plot_keywords'].str.contains('love', na=False)]

In [ ]:
movie_data8_no_love

,plot_keywords,movie_title
0,avatar|future|marine|native|paraplegic,Avatar
1,goddess|marriage ceremony|marriage proposal|pi...,Pirates of the Caribbean: At World's End
2,bomb|espionage|sequel|spy|terrorist,Spectre
3,deception|imprisonment|lawlessness|police offi...,The Dark Knight Rises
5,alien|american civil war|male nipple|mars|prin...,John Carter
...,...,...
5036,jewell|mongol|nostradamus|stepnicka|vallone,The Mongol King
5037,written and directed by cast member,Newlyweds
5038,fraud|postal worker|prison|theft|trial,Signed Sealed Delivered
5039,cult|fbi|hideout|prison escape|serial killer,The Following
5042,actress name in title|crush|date|four word tit...,My Date with Drew

In [ ]:
movie_data8_no_love_no_death = movie_data8_no_love[~movie_data8_no_love['plot_keywords'].str.contains('death', na=False)]

In [ ]:
movie_data8_no_love_no_death

,plot_keywords,movie_title
0,avatar|future|marine|native|paraplegic,Avatar
1,goddess|marriage ceremony|marriage proposal|pi...,Pirates of the Caribbean: At World's End
2,bomb|espionage|sequel|spy|terrorist,Spectre
3,deception|imprisonment|lawlessness|police offi...,The Dark Knight Rises
5,alien|american civil war|male nipple|mars|prin...,John Carter
...,...,...
5036,jewell|mongol|nostradamus|stepnicka|vallone,The Mongol King
5037,written and directed by cast member,Newlyweds
5038,fraud|postal worker|prison|theft|trial,Signed Sealed Delivered
5039,cult|fbi|hideout|prison escape|serial killer,The Following
5042,actress name in title|crush|date|four word tit...,My Date with Drew

In [ ]:
movie_data8_no_love_no_death['movie_plot_category'] = 'other'

In [ ]:
movie_data8_no_love_no_death.head(2)

,plot_keywords,movie_title,movie_plot_category
0,avatar|future|marine|native|paraplegic,Avatar,other
1,goddess|marriage ceremony|marriage proposal|pi...,Pirates of the Caribbean: At World's End,other

In [ ]:
movie_data8_love = movie_data8[movie_data8['plot_keywords'].str.contains('love', na=False)]

In [ ]:
movie_data8_love

,plot_keywords,movie_title
9,blood|book|love|potion|professor,Harry Potter and the Half-Blood Prince
26,artist|love|ship|titanic|wet,Titanic
87,alternate world|fairy tale parody|female warri...,Shrek Forever After
104,chosen one|enchanted object|love|spell|training,The Sorcerer's Apprentice
125,magic|sister love|sister sister relationship|s...,Frozen
...,...,...
4882,antique|desk|letter|love|time travel,The Love Letter
4930,best friend|boy|french|friend|love,Tadpole
4942,cat|cat people|leopard|love|slip the undergarment,Cat People
4984,abusive father|critically acclaimed|loss of fa...,The Brothers McMullen
5011,business trip|love|misogynist|office|secretary,In the Company of Men

In [ ]:
movie_data8_love_no_death =  movie_data8_love[~movie_data8_love['plot_keywords'].str.contains('death', na=False)]

In [ ]:
movie_data8_love_no_death

,plot_keywords,movie_title
9,blood|book|love|potion|professor,Harry Potter and the Half-Blood Prince
26,artist|love|ship|titanic|wet,Titanic
87,alternate world|fairy tale parody|female warri...,Shrek Forever After
104,chosen one|enchanted object|love|spell|training,The Sorcerer's Apprentice
125,magic|sister love|sister sister relationship|s...,Frozen
...,...,...
4882,antique|desk|letter|love|time travel,The Love Letter
4930,best friend|boy|french|friend|love,Tadpole
4942,cat|cat people|leopard|love|slip the undergarment,Cat People
4984,abusive father|critically acclaimed|loss of fa...,The Brothers McMullen
5011,business trip|love|misogynist|office|secretary,In the Company of Men

In [ ]:
movie_data8_love_no_death['movie_plot_category']='love'

In [ ]:
movie_data8_love_no_death.head(2)

,plot_keywords,movie_title,movie_plot_category
9,blood|book|love|potion|professor,Harry Potter and the Half-Blood Prince,love
26,artist|love|ship|titanic|wet,Titanic,love

In [ ]:
movie_data8_death = movie_data8[movie_data8['plot_keywords'].str.contains('death', na=False)]

In [ ]:
movie_data8_death

,plot_keywords,movie_title
31,death|doctor|scientist|super villain|tentacle,Spider-Man 2
39,costumed hero|death of girlfriend|masked vigil...,The Amazing Spider-Man 2
44,death row|future|machine|rescue|skynet,Terminator Salvation
103,death of sister|dystopia|execution|rebellion|r...,The Hunger Games: Mockingjay - Part 2
136,asylum|death|full moon|transformation|werewolf,The Wolfman
...,...,...
4863,female protagonist|murder|photographer|robbery...,November
5014,death|first part|killing spree|massacre|murder,Rampage
5020,avatar|college|death|tron|university,The Ridges
5024,arch villain|game of death|kidnapping|superhero,All Superheroes Must Die
5035,assassin|death|guitar|gun|mariachi,El Mariachi

In [ ]:
movie_data8_death_no_love = movie_data8_death[~movie_data8_death['plot_keywords'].str.contains('love', na=False)]

In [ ]:
movie_data8_death_no_love

,plot_keywords,movie_title
31,death|doctor|scientist|super villain|tentacle,Spider-Man 2
39,costumed hero|death of girlfriend|masked vigil...,The Amazing Spider-Man 2
44,death row|future|machine|rescue|skynet,Terminator Salvation
103,death of sister|dystopia|execution|rebellion|r...,The Hunger Games: Mockingjay - Part 2
136,asylum|death|full moon|transformation|werewolf,The Wolfman
...,...,...
4863,female protagonist|murder|photographer|robbery...,November
5014,death|first part|killing spree|massacre|murder,Rampage
5020,avatar|college|death|tron|university,The Ridges
5024,arch villain|game of death|kidnapping|superhero,All Superheroes Must Die
5035,assassin|death|guitar|gun|mariachi,El Mariachi

In [ ]:
movie_data8_death_no_love['movie_plot_category']="death"

In [ ]:
movie_data8_death_no_love.head(2)

,plot_keywords,movie_title,movie_plot_category
31,death|doctor|scientist|super villain|tentacle,Spider-Man 2,death
39,costumed hero|death of girlfriend|masked vigil...,The Amazing Spider-Man 2,death

In [ ]:
movie_data8_full=pd.concat([movie_data8_death_no_love, movie_data8_love_no_death], axis=0)

In [ ]:
movie_data8_full

,plot_keywords,movie_title,movie_plot_category
31,death|doctor|scientist|super villain|tentacle,Spider-Man 2,death
39,costumed hero|death of girlfriend|masked vigil...,The Amazing Spider-Man 2,death
44,death row|future|machine|rescue|skynet,Terminator Salvation,death
103,death of sister|dystopia|execution|rebellion|r...,The Hunger Games: Mockingjay - Part 2,death
136,asylum|death|full moon|transformation|werewolf,The Wolfman,death
...,...,...,...
4882,antique|desk|letter|love|time travel,The Love Letter,love
4930,best friend|boy|french|friend|love,Tadpole,love
4942,cat|cat people|leopard|love|slip the undergarment,Cat People,love
4984,abusive father|critically acclaimed|loss of fa...,The Brothers McMullen,love
5011,business trip|love|misogynist|office|secretary,In the Company of Men,love

In [ ]:
movie_data8_full2 = pd.concat([movie_data8_no_love_no_death, movie_data8_full ], axis=0)

In [ ]:
movie_data8_full2

,plot_keywords,movie_title,movie_plot_category
0,avatar|future|marine|native|paraplegic,Avatar,other
1,goddess|marriage ceremony|marriage proposal|pi...,Pirates of the Caribbean: At World's End,other
2,bomb|espionage|sequel|spy|terrorist,Spectre,other
3,deception|imprisonment|lawlessness|police offi...,The Dark Knight Rises,other
5,alien|american civil war|male nipple|mars|prin...,John Carter,other
...,...,...,...
4882,antique|desk|letter|love|time travel,The Love Letter,love
4930,best friend|boy|french|friend|love,Tadpole,love
4942,cat|cat people|leopard|love|slip the undergarment,Cat People,love
4984,abusive father|critically acclaimed|loss of fa...,The Brothers McMullen,love
5011,business trip|love|misogynist|office|secretary,In the Company of Men,love

In [ ]:
movie_data8

,plot_keywords,movie_title
0,avatar|future|marine|native|paraplegic,Avatar
1,goddess|marriage ceremony|marriage proposal|pi...,Pirates of the Caribbean: At World's End
2,bomb|espionage|sequel|spy|terrorist,Spectre
3,deception|imprisonment|lawlessness|police offi...,The Dark Knight Rises
5,alien|american civil war|male nipple|mars|prin...,John Carter
...,...,...
5036,jewell|mongol|nostradamus|stepnicka|vallone,The Mongol King
5037,written and directed by cast member,Newlyweds
5038,fraud|postal worker|prison|theft|trial,Signed Sealed Delivered
5039,cult|fbi|hideout|prison escape|serial killer,The Following
5042,actress name in title|crush|date|four word tit...,My Date with Drew

In [ ]:
movie_data8['movie_plot_category']=movie_data8_full2['movie_plot_category']

In [ ]:
movie_data8

,plot_keywords,movie_title,movie_plot_category
0,avatar|future|marine|native|paraplegic,Avatar,other
1,goddess|marriage ceremony|marriage proposal|pi...,Pirates of the Caribbean: At World's End,other
2,bomb|espionage|sequel|spy|terrorist,Spectre,other
3,deception|imprisonment|lawlessness|police offi...,The Dark Knight Rises,other
5,alien|american civil war|male nipple|mars|prin...,John Carter,other
...,...,...,...
5036,jewell|mongol|nostradamus|stepnicka|vallone,The Mongol King,other
5037,written and directed by cast member,Newlyweds,other
5038,fraud|postal worker|prison|theft|trial,Signed Sealed Delivered,other
5039,cult|fbi|hideout|prison escape|serial killer,The Following,other
5042,actress name in title|crush|date|four word tit...,My Date with Drew,other

In [ ]:
movie_data8['movie_plot_category'].isnull().sum(axis = 0)

16

In [ ]:
movie_data8['movie_plot_category'].fillna('love_and_death' , inplace = True)

In [ ]:
movie_data8['movie_plot_category'].isnull().sum(axis = 0)

0

In [ ]:
print(movie_data8['movie_plot_category'].value_counts(dropna=False))

other             4468
love               234
death              172
love_and_death      16
Name: movie_plot_category, dtype: int64

In [ ]:
movie_data8

,plot_keywords,movie_title,movie_plot_category
0,avatar|future|marine|native|paraplegic,Avatar,other
1,goddess|marriage ceremony|marriage proposal|pi...,Pirates of the Caribbean: At World's End,other
2,bomb|espionage|sequel|spy|terrorist,Spectre,other
3,deception|imprisonment|lawlessness|police offi...,The Dark Knight Rises,other
5,alien|american civil war|male nipple|mars|prin...,John Carter,other
...,...,...,...
5036,jewell|mongol|nostradamus|stepnicka|vallone,The Mongol King,other
5037,written and directed by cast member,Newlyweds,other
5038,fraud|postal worker|prison|theft|trial,Signed Sealed Delivered,other
5039,cult|fbi|hideout|prison escape|serial killer,The Following,other
5042,actress name in title|crush|date|four word tit...,My Date with Drew,other

In [ ]:
################################################################################################################################

In [ ]:
# 9. The imdb_score column shows a viewer rating for the film. Build a table to reflect the
# average rating of films depending on which movie_plot_category category they belong to.

In [ ]:
movie_data['movie_plot_category']=movie_data8['movie_plot_category']
movie_data.head(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,movie_data_duration,movie_plot_category
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000,3,other
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0,3,other
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000,3,other
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000,3,other
4,NaN,Doug Walker,NaN,103.0,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0,2,NaN

In [ ]:
movie_data.shape

(5043, 30)

In [ ]:
movie_data['movie_plot_category'].isnull().sum(axis = 0)

153

In [ ]:
print(movie_data['movie_plot_category'].value_counts(dropna=False))

other             4468
love               234
death              172
NaN                153
love_and_death      16
Name: movie_plot_category, dtype: int64

In [ ]:
movie_data = movie_data[movie_data['movie_plot_category'].notna()]

In [ ]:
print(movie_data['movie_plot_category'].value_counts(dropna=False))

other             4468
love               234
death              172
love_and_death      16
Name: movie_plot_category, dtype: int64

In [ ]:
movie_data9 = movie_data[['movie_plot_category','movie_title','imdb_score']]
movie_data9

,movie_plot_category,movie_title,imdb_score
0,other,Avatar,7.9
1,other,Pirates of the Caribbean: At World's End,7.1
2,other,Spectre,6.8
3,other,The Dark Knight Rises,8.5
5,other,John Carter,6.6
...,...,...,...
5036,other,The Mongol King,7.8
5037,other,Newlyweds,6.4
5038,other,Signed Sealed Delivered,7.7
5039,other,The Following,7.5
5042,other,My Date with Drew,6.6

In [ ]:
print(movie_data9['movie_plot_category'].value_counts(dropna=False))

other             4468
love               234
death              172
love_and_death      16
Name: movie_plot_category, dtype: int64

In [ ]:
movie_data9.loc[movie_data9['movie_plot_category']=='other']

,movie_plot_category,movie_title,imdb_score
0,other,Avatar,7.9
1,other,Pirates of the Caribbean: At World's End,7.1
2,other,Spectre,6.8
3,other,The Dark Knight Rises,8.5
5,other,John Carter,6.6
...,...,...,...
5036,other,The Mongol King,7.8
5037,other,Newlyweds,6.4
5038,other,Signed Sealed Delivered,7.7
5039,other,The Following,7.5
5042,other,My Date with Drew,6.6

In [ ]:
movie_data9.loc[movie_data9['movie_plot_category']=='other'].mean()

imdb_score    6.443017
dtype: float64

In [ ]:
movie_data9.loc[movie_data9['movie_plot_category']=='love']

     movie_plot_category                              movie_title  imdb_score
9                   love  Harry Potter and the Half-Blood Prince          7.5
26                  love                                 Titanic          7.7
87                  love                     Shrek Forever After          6.4
104                 love               The Sorcerer's Apprentice          6.1
125                 love                                  Frozen          7.6
...                  ...                                      ...         ...
4882                love                         The Love Letter          7.4
4930                love                                 Tadpole          6.3
4942                love                              Cat People          6.1
4984                love                   The Brothers McMullen          6.6
5011                love                   In the Company of Men          7.3

[234 rows x 3 columns]

In [ ]:
movie_data9.loc[movie_data9['movie_plot_category']=='love'].mean()

imdb_score    6.580769
dtype: float64

In [ ]:
movie_data9.loc[movie_data9['movie_plot_category']=='love_and_death']

     movie_plot_category                      movie_title  imdb_score
594       love_and_death                     Vanilla Sky          6.9
766       love_and_death                 Practical Magic          6.1
966       love_and_death  Hansel & Gretel: Witch Hunters          6.1
1145      love_and_death           Underworld: Evolution          6.8
1167      love_and_death                 Red Riding Hood          5.4
1261      love_and_death             Final Destination 5          5.9
1812      love_and_death             Lucky Number Slevin          7.8
2022      love_and_death                  Jane Got a Gun          5.8
2081      love_and_death                           Ghost          7.0
2689      love_and_death                         One Day          7.0
3233      love_and_death                     Elsa & Fred          6.5
3799      love_and_death                     Fascination          3.3
4196      love_and_death              My Life Without Me          7.6
4222      love_and_death                 Redemption Road          5.9
4474      love_and_death                         Rebecca          8.2
4493      love_and_death             Lucky Number Slevin          7.8

In [ ]:
movie_data9.loc[movie_data9['movie_plot_category']=='love_and_death'].mean()

imdb_score    6.50625
dtype: float64

In [ ]:
movie_data9.loc[movie_data9['movie_plot_category']=='death']

     movie_plot_category                             movie_title  imdb_score
31                 death                           Spider-Man 2          7.3
39                 death               The Amazing Spider-Man 2          6.7
44                 death                   Terminator Salvation          6.6
103                death  The Hunger Games: Mockingjay - Part 2          6.6
136                death                            The Wolfman          5.8
...                  ...                                     ...         ...
4863               death                               November          5.5
5014               death                                Rampage          6.3
5020               death                             The Ridges          3.0
5024               death               All Superheroes Must Die          4.0
5035               death                            El Mariachi          6.9

[172 rows x 3 columns]

In [ ]:
movie_data9.loc[movie_data9['movie_plot_category']=='death'].mean()

imdb_score    6.535465
dtype: float64

In [ ]:
other_mean = w = 6.443017
love_mean  = x = 6.580769
love_and_death_mean = y = 6.50625
death_mean = z = 6.535465

In [ ]:
print (w,x,y,z)

6.443017 6.580769 6.50625 6.535465

In [ ]:
table = {'category':['other','love','love_and_death','death'],'mean':[w,x,y,z]}

In [ ]:
table_9 = pd.DataFrame(table)
table_9

         category      mean
0           other  6.443017
1            love  6.580769
2  love_and_death  6.506250
3           death  6.535465

In [ ]:
table_9.set_index("category")

                    mean
category
other           6.443017
love            6.580769
love_and_death  6.506250
death           6.535465

In [ ]:
################################################################################################################################

In [ ]:
# 10. What is the average rating of films in the "love" category? Give the answer as a floatingpoint
# figure rounded to two decimal places.

In [ ]:
answer_10 = round(table_9.loc[table_9['category']=='love'],2)
answer_10

  category  mean
1     love  6.58

In [ ]:
answer_10.dtypes

category     object
mean        float64
dtype: object

In [ ]:
################################################################################################################################

In [ ]:
# 11. The budget column contains the film's budget. What is the median budget for all the films
# listed? Give the answer as an integer.

In [ ]:
movie_data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes',
       'movie_data_duration', 'movie_plot_category'],
      dtype='object')

In [ ]:
movie_data11 = movie_data['budget']
movie_data11

0       237000000.0$
1       300000000.0$
2       245000000.0$
3       250000000.0$
5       263700000.0$
            ...
5036         3250.0$
5037         9000.0$
5038            0.0$
5039            0.0$
5042         1100.0$
Name: budget, Length: 4890, dtype: object

In [ ]:
movie_data11 = pd.to_numeric(movie_data11.apply( lambda Linha: Linha.replace('$', '') ) )

In [ ]:
movie_data11

0       237000000.0
1       300000000.0
2       245000000.0
3       250000000.0
5       263700000.0
           ...
5036         3250.0
5037         9000.0
5038            0.0
5039            0.0
5042         1100.0
Name: budget, Length: 4890, dtype: float64

In [ ]:
movie_data11_median= round(movie_data11.median(),2)
movie_data11_median

16950000.0

In [ ]:
answer_11 = int(movie_data11_median)
answer_11

16950000

In [ ]:
################################################################################################################################